/* Fonts */
/* latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Roboto_Condensed.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
@font-face {
    font-family: 'Roboto Condensed Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Roboto_Condensed-700.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/* latin */
@font-face {
    font-family: 'Jaro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Jaro-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* Ext Latin */
/*
  @font-face {
      font-family: 'Jaro';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../fonts/Ext_Latin_Jaro-Regular.woff2) format('woff2');
      unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }*/
/* latin */
@font-face {
    font-family: 'Bayon';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Bayon.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px; /* Adjust size if needed */
    line-height: 1.6;
    color: #FAFAEE;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1));
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* Apply Jaro font to menu buttons */
nav ul li a {
    font-family: 'Jaro', sans-serif;
}

/* Apply Jaro font to headings */
.intro h2, .recent-mission, .enlist-button, h3, .training-button, .manuals-intro h2 {
    font-family: 'Jaro', sans-serif;
}



/* Apply Bayon font to the h1 in the intro section */
.intro h1, .manuals-intro h1 {
    font-family: 'Bayon', sans-serif;
    font-size: 128px !important; /* Adjust size as needed for desired effect */
    line-height: 0.9;
    margin-bottom: 20px;
}



/* Logo styling */
.logo img {
    height: 56px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
    display: block; /* Remove inline spacing */
    margin-left: 10px; /* Add spacing to the left of the logo */
}


nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    color: #FAFAEE;
    text-decoration: none;
    font-family: 'Jaro', sans-serif;
}

nav ul li a.active, nav ul li a:hover {
    color: #EF6121;
}

.enlist {
    padding: 5px 10px;
    background-color: #EF6121;
    border-radius: 0px;
    color: #FAFAEE;
}

.enlist:hover, .enlist-button:hover, .training-button {
    color: #000; /* Black text on hover */
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -2;
}

.overlay-video {
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text contrast */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Countdown container styling */
#countdown {
    display: flex;
    gap: 20px;
    font-family: 'Bayon', sans-serif;
    color: #FAFAEE;
    margin-top: 20px;
}

/* Each countdown item */
.countdown-item {
    text-align: center;
}

/* Large numbers styling */
.number {
    font-size: 64px; /* Adjust to desired size */
    line-height: 1;
    color: #EF6121;
}

/* Small label styling */
.label {
    font-size: 16px; /* Adjust for readability */
    text-transform: uppercase;
    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.intro {
    position: relative;
    top: 100px;
    padding: 50px;
    max-width: 750px;
    margin-left: 50px;

}

.manuals-intro {
  color:#EF6121;
  padding: 50px;
  padding: 150px;
  width:100%;
  height:500px;

  background: url('../../media/hero_training.png');
  background-repeat: no-repeat;
  text-align: left;
  background-size: cover;

}

.intro h1, .manuals-intro h1 {
    font-size: 48px;
}

.intro h2, .manuals-intro h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}



.underline {
    width: 100px;
    height: 2px;
    background-color: #EF6121;
    margin-bottom: 20px;
}

.enlist-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #EF6121;
    color: #FAFAEE;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
}
.training-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #EF6121;
    color: #FAFAEE;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
}

/* Styling for the "Most Recent Mission" title */
.recent-mission h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700; /* Bold weight */
    font-size: 18px; /* Adjust as needed */
    margin-bottom: 10px;
}

/* Styling for the video embed with a border */
.recent-mission iframe {
    border: 2px solid #EF6121; /* Border around the video */
    display: block; /* Ensure proper alignment */
}

/* Positioning for the recent mission container */
.recent-mission {
    position: absolute;
    bottom: 120px;
    right: 5%;
    background: rgba(0, 0, 0, 0); /* Background for the section (optional) */
    padding: 10px;
}


.scroll-indicator {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    animation: bounce 2s infinite;
    color:#EF6121;
}

.community-features {
  font-family: 'Jaro', sans-serif;
  color:#EF6121;
  padding: 50px;
  padding-left:150px;
  padding-right:150px;
  width:100%;
  height:500px;
  background: url('../../media/com-bg.png');
  background-repeat: no-repeat;
  text-align: center;
}

.community-features p, .testimonials p{
  font-family: 'Roboto Condensed', sans-serif;
  color:#FAFAEE;
  padding-top: 50px;
  text-align: left;
  line-height: 2em;
}

.community-features .bullet {
  color:#EF6121;
}

.testimonials {
  font-family: 'Jaro', sans-serif;
  color:#EF6121;
  padding: 50px;
  margin-top:-120px;
  padding-left:150px;
  padding-right:150px;
  width:100%;
  background-color:#2A2C17;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

blockquote {
    background-color: #505331;
    padding: 1rem;
    border-left: 5px solid #FAFAEE;
    margin-bottom: 50px;
}


blockquote p{
 margin-top:-30px;
}

blockquote cite{
  text-align: left !important;
}

.next-step {
  font-family: 'Jaro', sans-serif;
  color:#EF6121;
  padding: 50px;
  padding-left:150px;
  padding-right:150px;
  width:100%;
  background: url('../../media/camo-bg.png');
  text-align: center;
}

.our-mission {
  font-family: 'Jaro', sans-serif;
  color:#EF6121;
  padding: 50px;
  padding-left:150px;
  padding-right:150px;
  margin-top:300px;
  width:100%;
  background: url('../../media/camo-bg.png');
  background-repeat: no-repeat;
  text-align: center;
}

.manuals-section {
  font-family: 'Jaro', sans-serif;
  color:#EF6121;
  padding: 50px;
  padding-left:150px;
  padding-right:150px;
  width:100%;
  background: url('../../media/camo-bg.png');
  background-repeat: no-repeat;
  text-align: center;
  align: middle;

}



.our-mission p, .manuals-section p  {
  font-family: 'Roboto Condensed', sans-serif;
  color:#FAFAEE;
}

/* Box container */
.our-mission .boxes, .manuals-section .boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
}



/* Box styling */
.our-mission .box {
    width: 250px;
    padding: 20px;
    margin-top:50px;
    color: #FAFAEE;
    background-color: #505331;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.manuals-section .box {

  border: 2px solid #717453;

  width: 250px;
  padding: 20px;
  margin-top:50px;
  color: #FAFAEE;
  background-color: #505331;
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Title inside the box */
.our-mission .box-title, .manuals-section .box-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.grid-item .box-title {
  font-family: 'Roboto Condensed Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
  color:#EF6121;
}

.grid-item .box-description {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: Regular;
  color:#FAFAEE;
}

.manuals-section a{
  color:#FAFAEE;
  text-decoration: none;


}

/* Description inside the box */
.our-mission .box-description {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}
.underline2 {
    position:relative;
    margin-left:-150px;
    left:50%;
    width: 300px;
    height: 2px;
    background-color: #EF6121;
    margin-bottom: 20px;

}

footer {
  background-color: #1C1E0D;
    color: #FAFAEE;
    padding: 1rem;
    text-align: center;
    height:100px;
    vertical-align: middle;
}

footer img {
  max-height:20px;
  margin-top:25px;
}

footer a {
  color:#FAFAEE;
}
/* Hamburger Menu Button */
.hamburger {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    font-size: 30px;
    color: #FAFAEE;
    cursor: pointer;
}


/*grid boxes*/
.grid-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-top:50px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  background: #505331;
  border: 1px solid #717453;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.svg-icons {
  width:50px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;


}


@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Make the video responsive and inline with content on smaller screens */
@media (max-width: 390px) {

    .logo img {
        height: 32px;
        position: fixed;
        left: 0px;
    }
    /* Navigation Menu Hidden by Default */
    nav ul {
        display: none; /* Hide navigation menu */
        flex-direction: column;
        background-color: #000; /* Dropdown background */
        top: 60px; /* Below header */
        left: 0;
        width: 100%; /* Full screen width */
        padding: 15px;
        z-index: 9;
        border-top: 1px solid #EF6121;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    }
    /* Show menu when active */
    nav ul.active {
        display: flex;
    }
    /* Hamburger Button Visible */
    .hamburger {
        display: block;
    }
    /* Adjust title */
    .intro h1 {
        font-size: 90px !important;
    }
    /* Adjust link spacing and size */
    nav ul li {
        margin: 10px 0;
    }
    nav ul li a {
        font-size: 14px;
    }
    p {
       width: 90%;
       align-content: center;
    }
    .intro {
        padding: 0px;
        margin: 30px;
    }
    header {
        flex-direction: column;
        padding: 10px 20px;
        align-items: flex-end;
    }
    .enlist-button {
        align-content: center;
    }
    .scroll-indicator {
        visibility: hidden;
    }
    .recent-mission {
        position: static; /* Removes absolute positioning */
        margin: 20px auto; /* Center the container */
        margin-top: 100px;
        width: 90%; /* Adjust width to fit smaller screens */
    }

    .recent-mission iframe {
        width: 100%; /* Video scales to the container width */
        max-width: 500px; /* Prevents it from becoming too wide */
        display: inline-flex;
    }
    .our-mission {
        margin-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
        background-repeat: unset;
        height: auto;
    }
    .community-features {
        padding: 10%;
        background-size: cover;
        background-position: center;
        height: auto;
    }
    .our-mission .boxes {
        flex-direction: column;
        align-items: center;
    }
    .testimonials {
        padding: 10px;
        margin: unset;
        height: auto;
    }
    .next-step {
        background-repeat: unset;
        height: unset;
        padding: 30px;
    }

    .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

}
